.card {
    background-color : #181a1b;
    width: 100%;
    max-width: 1000px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    border:1px solid #333;
}

.card:hover {
    background-color : #181a1b;
    width: 100%;
    max-width: 1000px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: inset 0 0 2px lightgrey;
    transition: 0.25s;
}

.dummy {
    background-color : #181a1b;
    width: 100%;
    max-width: 1000px;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    min-height: 250px;
}
